In [1]:
import numpy as np
import pandas as pd
from datasist.structdata import detect_outliers
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import joblib

In [2]:
raw_df=pd.read_csv('../data/processed/Analysis & Viz.csv')
df=raw_df.copy()

In [3]:
df.head()

,Unnamed: 0,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count,year,month,day,revenue,profit
0,0,2011-01-01 03:00:00,Winter,1,0.0,Clear,9.84,75.0,0.0000,3,10,13,2011,1,Saturday,110,94.428767
1,1,2011-01-01 11:00:00,Winter,1,0.0,Clear,14.76,81.0,19.0012,26,30,56,2011,1,Saturday,670,576.028767
2,2,2011-01-01 14:00:00,Winter,1,0.0,Mist,18.86,72.0,19.0012,35,71,106,2011,1,Saturday,1055,907.128767
3,3,2011-01-01 15:00:00,Winter,1,0.0,Mist,18.04,77.0,19.9995,40,70,110,2011,1,Saturday,1150,988.828767
4,4,2011-01-01 16:00:00,Winter,1,0.0,Mist,17.22,82.0,19.9995,41,52,93,2011,1,Saturday,1080,928.628767

In [4]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [5]:
df.shape

(2809, 16)

In [6]:
numeric_data=df.select_dtypes(include='number')
numeric_data.head()

,holiday,workingday,temp,humidity,windspeed,casual,registered,rented_bikes_count,year,month,revenue,profit
0,1,0.0,9.84,75.0,0.0000,3,10,13,2011,1,110,94.428767
1,1,0.0,14.76,81.0,19.0012,26,30,56,2011,1,670,576.028767
2,1,0.0,18.86,72.0,19.0012,35,71,106,2011,1,1055,907.128767
3,1,0.0,18.04,77.0,19.9995,40,70,110,2011,1,1150,988.828767
4,1,0.0,17.22,82.0,19.9995,41,52,93,2011,1,1080,928.628767

In [7]:
numeric_data_col=numeric_data.columns

In [8]:
len(detect_outliers(df,0,numeric_data_col))

361

In [28]:
for col in numeric_data_col:
    idx=detect_outliers(df,0,[col])
    df[col].iloc[idx]=df[col].median()

C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()
C:\Users\mnso\AppData\Local\Temp\ipykernel_612\1705251239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].iloc[idx]=df[col].median()

In [29]:
len(detect_outliers(df,0,numeric_data_col))

0

In [30]:
df.isnull().sum()

datetime              0
season                0
holiday               0
workingday            0
weather               0
temp                  0
humidity              0
windspeed             0
casual                0
registered            0
rented_bikes_count    0
year                  0
month                 0
day                   0
revenue               0
profit                0
dtype: int64

In [31]:
df.head()

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,casual,registered,rented_bikes_count,year,month,day,revenue,profit
0,2011-01-01 03:00:00,Winter,1,0.0,Clear,9.84,75.0,0.0000,3,10,13,2011,1,Saturday,110,94.428767
1,2011-01-01 11:00:00,Winter,1,0.0,Clear,14.76,81.0,19.0012,26,30,56,2011,1,Saturday,670,576.028767
2,2011-01-01 14:00:00,Winter,1,0.0,Mist,18.86,72.0,19.0012,16,71,106,2011,1,Saturday,1055,907.128767
3,2011-01-01 15:00:00,Winter,1,0.0,Mist,18.04,77.0,19.9995,16,70,110,2011,1,Saturday,1150,988.828767
4,2011-01-01 16:00:00,Winter,1,0.0,Mist,17.22,82.0,19.9995,16,52,93,2011,1,Saturday,1080,928.628767

In [32]:
df=pd.get_dummies(df,columns=['season','weather','day'],drop_first=True)

In [33]:
df.columns

Index(['datetime', 'holiday', 'workingday', 'temp', 'humidity', 'windspeed',
       'casual', 'registered', 'rented_bikes_count', 'year', 'month',
       'revenue', 'profit', 'season_Spring', 'season_Summer', 'season_Winter',
       'weather_Mist', 'weather_Rainy', 'weather_Snowy', 'day_Monday',
       'day_Saturday', 'day_Sunday', 'day_Thursday', 'day_Tuesday',
       'day_Wednesday'],
      dtype='object')

In [34]:
df.head()

,datetime,holiday,workingday,temp,humidity,windspeed,casual,registered,rented_bikes_count,year,...,season_Winter,weather_Mist,weather_Rainy,weather_Snowy,day_Monday,day_Saturday,day_Sunday,day_Thursday,day_Tuesday,day_Wednesday
0,2011-01-01 03:00:00,1,0.0,9.84,75.0,0.0000,3,10,13,2011,...,True,False,False,False,False,True,False,False,False,False
1,2011-01-01 11:00:00,1,0.0,14.76,81.0,19.0012,26,30,56,2011,...,True,False,False,False,False,True,False,False,False,False
2,2011-01-01 14:00:00,1,0.0,18.86,72.0,19.0012,16,71,106,2011,...,True,True,False,False,False,True,False,False,False,False
3,2011-01-01 15:00:00,1,0.0,18.04,77.0,19.9995,16,70,110,2011,...,True,True,False,False,False,True,False,False,False,False
4,2011-01-01 16:00:00,1,0.0,17.22,82.0,19.9995,16,52,93,2011,...,True,True,False,False,False,True,False,False,False,False

In [35]:
import pandas as pd

def replace_bool_with_numbers(df):
    df.replace({False: 0, True: 1}, inplace=True)


df.apply(replace_bool_with_numbers)

datetime              None
holiday               None
workingday            None
temp                  None
humidity              None
windspeed             None
casual                None
registered            None
rented_bikes_count    None
year                  None
month                 None
revenue               None
profit                None
season_Spring         None
season_Summer         None
season_Winter         None
weather_Mist          None
weather_Rainy         None
weather_Snowy         None
day_Monday            None
day_Saturday          None
day_Sunday            None
day_Thursday          None
day_Tuesday           None
day_Wednesday         None
dtype: object

In [36]:
df.head()

,datetime,holiday,workingday,temp,humidity,windspeed,casual,registered,rented_bikes_count,year,...,season_Winter,weather_Mist,weather_Rainy,weather_Snowy,day_Monday,day_Saturday,day_Sunday,day_Thursday,day_Tuesday,day_Wednesday
0,2011-01-01 03:00:00,1,0.0,9.84,75.0,0.0000,3,10,13,2011,...,1,0,0,0,0,1,0,0,0,0
1,2011-01-01 11:00:00,1,0.0,14.76,81.0,19.0012,26,30,56,2011,...,1,0,0,0,0,1,0,0,0,0
2,2011-01-01 14:00:00,1,0.0,18.86,72.0,19.0012,16,71,106,2011,...,1,1,0,0,0,1,0,0,0,0
3,2011-01-01 15:00:00,1,0.0,18.04,77.0,19.9995,16,70,110,2011,...,1,1,0,0,0,1,0,0,0,0
4,2011-01-01 16:00:00,1,0.0,17.22,82.0,19.9995,16,52,93,2011,...,1,1,0,0,0,1,0,0,0,0

In [37]:
x=df.drop(['profit','datetime'],axis=1)
y=df['profit']

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [39]:
scaler=StandardScaler()

In [40]:
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [41]:
model=LinearRegression()

In [42]:
model.fit(x_train_scaled,y_train)

LinearRegression()

In [43]:
model.score(x_train_scaled,y_train)

1.0

In [44]:
model.score(x_test_scaled,y_test)

1.0

In [45]:
model.intercept_

998.2344191037062

In [46]:
model.coef_

array([-1.80949641e+00,  3.11750625e-13, -4.43547976e-13,  2.41473508e-14,
        5.76899639e-14, -1.68420833e-13,  1.14087559e-12, -4.23501512e-13,
        4.05534981e-13,  1.07629183e-13,  8.44652450e+02,  3.73298614e-13,
        2.69614192e-13, -1.49142851e-13, -9.43307932e-14,  1.46313517e-13,
       -1.96682948e-14, -2.00006678e-13,  1.44019183e+00,  1.35979629e+00,
       -2.83106871e-15,  1.44551038e-13,  7.21644966e-15])

In [47]:
joblib.dump(scaler,'scaler.h5')

['scaler.h5']

In [48]:
joblib.dump(model,'model.h5')

['model.h5']

In [49]:
df.to_csv('../data/processed/PreProcessing.csv')